{% extends 'base.html' %}
{% load static %}

{% block title %} Order Detail {% endblock %}
{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrub" class="section">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrub-header">Order Detail</h3>
                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- BREADCRUMB -->

    <!-- Section -->
    <div class="section">
        <!-- Container -->
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <!-- Order Deatil -->
                    <div class="col-md-12 order-details">
                        <div class="section-title text-center">
                            <h3 class="title">Thank you</h3>
                        </div>
                        <div class="order-summary">
                            <p>Your order number: {{ order.id }}</p>
                        </div>
                        <a href="{% url 'shop:to_bank' order.id %}" class="primary-btn btn-block order-submit">Online Payment</a>
                    </div>
                    <!-- /Order Deatil -->
                </div>
                <!-- /Row -->
            </div>
        <!-- /Container -->
    </div>
    <!-- /Section -->
{% endblock %}